body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 44, 60);
    gap: 100px;
    padding: 24px;
  }
  .top-header{
    display: flex;
    justify-content: space-around;
    
  }
  .links{
    display: flex;
    gap: 18px; 
  }

  a{
    text-decoration: none;
    color: white;
    font-size: small;
  }
  
  .ImageText{
    display:flex;
    justify-content: space-around;
  }

  .pugImage{
    height: 300px;
  }