body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 200vh;
  background-color: rgb(164, 5, 185);
}

/*controls what the links look like*/
a{
    text-decoration: none;
    color: white;
    font-size: small;
}

/*signup button*/
.signup{
  background-color: #3882F6;
  border-radius: 6px;
  border: 1px solid whitesmoke;
}
.signup:hover{
  background-color: olivedrab;
}

/*Header portion*/
.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    gap: 30px;
    padding: 24px;
  }
  .top-header{
    display: flex;
    justify-content: space-around;
    
  }
  .logo{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .links{
    display: flex;
    gap: 18px; 
  }
  
  .ImageText{
    display:flex;
    justify-content: space-around;
  }

  .pugImage{
    height: 150px;
    width: 100;
    border-radius: 10px;
    border: 1px solid whitesmoke;
  }

  /*Content info*/
  .content{
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .content-images{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .info-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    gap: 150px;
  }

  .info{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 135px;
    gap: 25px;
  }
  .info-image{
    border-radius: 25px;
    border: 4px solid blue;
    height: 75%;
  }
  .images{
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }

  .text{
    display: flex;
    justify-content: center;
  }

  .quote{
    flex: 1;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
  }

  .bottom-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bottom-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 650px;
    background-color: #3882F6;
    border-radius: 10px;
  }

  /*footer portion*/
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 24px;
  }